{% extends 'dashboard.html' %}

{% load bootstrap3 %}

{% load bootstrap %}


{% block title %}Update Recall | {{ block.super }}{% endblock %}

{% block content %}
<div style="background-color: #0D96FF !important" class="container-fluid">
	<br>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-md-6 col-xs-12">
			<h1><b>Edit Recall</b></h1>
			</div>
		</div>
	</div>
	<br>
</div>
			{% if messages %}
			{% bootstrap_javascript jquery=1 %}
			{% bootstrap_messages %}
			{% endif %}

<div class="container"><br>
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" class="form-group">
			<form method="POST" action="">
			{{ form|bootstrap }}
			{% csrf_token %}
			{% buttons %}
		    	<button type="submit" class="btn btn-success">
		      		{% bootstrap_icon "edit" %} Edit
		    	</button>
		  	{% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
