{% extends 'dashboard.html' %}


{% block title %}View Recalls | {{ block.super }}{% endblock %}

{% block content %}
<div style="background:#0D96FF !important" class="container-fluid">
    <br>
    <div class="container">
        <div class="row">
           <h1><b>View Recalls</b></h1>
           <form method="GET" action="">
             <input type="text" class="form-control input-md" name="q" placeholder="Enter Name or Date of Recall(YYYY-MM-DD)" value="{{ request.GET.q }}"/>
             <input type="submit" value="Search" class="btn btn-success">  
           </form>
       </div>
    </div>
    <br>
</div>

<br>

<div class="container">
<div class="row">
<div class="col-sm-10 col-sm-offset-1">
  {% if not view_recall %}
    <p><strong>You Have No Recalls.</strong> Why not <a href="{% url 'recall:create_recall' %}">create one?</a></p>
  {% endif %}
</div>
</div>
<div  class="table-responsive" class="row">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr class="success">
        <th><span>Name</span></th>
        <th><span>Recall Date</span></th>
        <th><span>Recall Status</span></th>
        <th class="text-center"><span>Actions</span></th>
      </tr>
    </thead>
    <tbody>
    {% for schedule in view_recall|dictsort:"date_of_recall" %}  
      <tr>
        <td><a href="{{ schedule.get_absolute_url }}">{{ schedule.patient }}</a></td>
        <td>{{ schedule.date_of_recall }}</td>
        <td>{{ schedule.recall_status }}</td>
        <td class="text-center">
            <a class="btn btn-info btn-xs" href="{% url 'recall:update_recall' schedule.pk %}"><span class="glyphicon glyphicon-edit"></span>Edit</a>
            <a class="btn btn-danger btn-xs" href="{% url 'recall:delete_recall' schedule.pk %}"><span class="glyphicon glyphicon-remove"></span>Del</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

 {% if is_paginated %}
 
      <div class="pagination">
          <span class="page-links">
              {% if page_obj.has_previous %}
                  <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="page-current">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">next</a>
              {% endif %}
          </span>
      </div>

  {% endif %}
  </div>
  </div>
  </div>
 </div> 
{% endblock %}
