<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width,initial-scale=1" name=viewport>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Recall Manager</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Add additional CSS in static file -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mytheme.css' %}">
    
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      body {
        background-color: #000 !important;
        color: #fff !important;
      }
    </style>
  </head>
  <body>
    
    <div style="color: #000 !important" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">Patient Recall Manager</a>
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav navbar-right">
            <li><a style="color: #fff !important" href="{% url 'recall:contact' %}" class="btn btn-danger btn-lg">Contact Us</a></li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div style="background-color: #375a7f!important" class="jumbotron">
                <h1>Effective Patient Recall Makes Absolute Clinical And Business Sense!</h1>
                <br>
                <p>Patient Recall Manager is an innovative and intuitive application designed to effectively manage hospital/clinic patient recall process.</p>
                <p><a href="{% url 'recall:create_recall' %}" class="btn btn-danger btn-lg">Learn More</a></p>
            </div>
          </div>
        </div>
    </div> 
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>div 1</h2>
        </div>
      </div>

       <div class="row">
        <div class="col-sm-12">
          <h2>div 1</h2>
        </div>
      </div>

       <div class="row">
        <div class="col-sm-12">
          <h2>div 1</h2>
        </div>
      </div>
    </div>

    <div class="container">
       <footer>
        <p>&copy; 2016 Company, Inc.</p>
      </footer>
    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>